NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyCPozTbw-LNgIG7wjsRK1uCmKERywRbPAA
GOOGLE_CLIENT_ID=166927980284-qthftm85e2obra103e3livhr7h8t27db.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-DXDH1C6GzGTqFBvYAShA_buSj0O
NEXTAUTH_SECRET=claveSegura
NEXTAUTH_URL=http://localhost:4000
